openapi: 3.2.0
info:
  title: Lyft Ride-Sharing Profile API
  description: The Lyft Ride-Sharing API provides developers with programmatic access to Lyft's rideshare platform.
  version: '1.0'
  contact:
    name: Lyft Developer Support
    url: https://www.lyft.com/developers
  termsOfService: https://www.lyft.com/terms
servers:
- url: https://api.lyft.com/v1
  description: Production Server
security:
- bearerAuth: []
tags:
- name: Profile
  description: Endpoints for retrieving profile information for the authenticated Lyft user.
paths:
  /profile:
    get:
      operationId: getProfile
      summary: Get user profile
      description: Returns the authenticated user's profile information including their first name, last name, and whether the profile has been verified.
      tags:
      - Profile
      parameters: []
      responses:
        '200':
          description: Successful response with user profile information
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Profile'
        '401':
          description: Unauthorized - invalid or missing access token
components:
  schemas:
    Profile:
      type: object
      description: Profile information for the authenticated Lyft user.
      properties:
        id:
          type: string
          description: Unique identifier for the user.
        first_name:
          type: string
          description: The user's first name.
        last_name:
          type: string
          description: The user's last name.
        has_taken_a_ride:
          type: boolean
          description: Whether the user has completed at least one Lyft ride.
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: OAuth 2.0 access token. Use the 2-legged client credentials flow for public endpoints (ETA, cost, ride types) or the 3-legged authorization code flow for user-specific endpoints (rides, profile).
    clientToken:
      type: apiKey
      in: header
      name: Authorization
      description: Client token for accessing public endpoints without user authorization. Passed as a Bearer token in the Authorization header.
externalDocs:
  description: Lyft API Documentation
  url: https://developer.lyft.com/docs
